version: 2
jobs:
  build-imagebuild:
    docker:
      - image: aperezdc/ci-imagebuild:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - pkgcache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "imagebuild.pkglist" }}
            - pkgcache-v1-{{ arch }}-{{ .Branch }}-
            - pkgcache-v1-{{ arch }}-
      - run:
          name: Build
          command: |
            rm -rf _imagebuild
            ./build -N -P _pkgcache -o _imagebuild -p imagebuild.pkglist -C imagebuild.json
      - save_cache:
          key: pkgcache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "imagebuild.pkglist" }}
          paths:
            - _pkgcache
      - persist_to_workspace:
          root: _imagebuild
          paths:
            - blobs

  upload-imagebuild:
    docker:
      - image: aperezdc/ci-imagebuild:latest
    steps:
      - attach_workspace:
          at: output
      - run:
          name: Upload
          command: |
            skopeo copy --dest-creds "${DOCKERHUB_USERNAME}:${DOCKERHUB_PASSWORD}" \
                dir:output/blobs/ docker://docker.io/aperezdc/ci-imagebuild

  build-wpebackend:
    docker:
      - image: aperezdc/ci-imagebuild:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - pkgcache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "wpebackend.pkglist" }}
            - pkgcache-v1-{{ arch }}-{{ .Branch }}-
            - pkgcache-v1-{{ arch }}-
      - run:
          name: Build
          command: |
            rm -rf _wpebackend
            ./build -N -P _pkgcache -o _wpebackend -p wpebackend.pkglist
      - save_cache:
          key: pkgcache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "wpebackend.pkglist" }}
          paths:
            - _pkgcache
      - persist_to_workspace:
          root: _wpebackend
          paths:
            - blobs

  upload-wpebackend:
    docker:
      - image: aperezdc/ci-imagebuild:latest
    steps:
      - attach_workspace:
          at: output
      - run:
          name: Upload
          command: |
            skopeo copy --dest-creds "${DOCKERHUB_USERNAME}:${DOCKERHUB_PASSWORD}" \
                dir:output/blobs/ docker://docker.io/aperezdc/ci-wpebackend

workflows:
  version: 2
  build:
    jobs:
      - build-imagebuild
      - build-wpebackend
      - upload-imagebuild:
          context: wpe-ci
          requires:
            - build-imagebuild
          filters:
            branches:
              only: /^master$/
      - upload-wpebackend:
          context: wpe-ci
          requires:
            - build-wpebackend
          filters:
            branches:
              only: /^master$/
